BOT_ADMIN=["***"]
HTTP_PROXY=http://127.0.0.1:1080
ONEBOT_WS_URL=***
ONEBOT_ACCESS_TOKEN=***
KLEI_ACCESS_TOKEN=***
KLEI_HOST_ID=***
REPORT_GROUP_ID=***
GEMINI_API_KEY=***
DOSU_MCP_ENDPOINT=***
DOSU_API_KEY=***
